@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #c8c8c8;
}

::-webkit-scrollbar-thumb {
    background: #781699;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: 'Gatte-Regular';
    src: url('./src/fonts/GatteModern-Regular.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Gatte-Light';
    src: url('./src/fonts/GatteModern-Light.otf');
    font-style: normal;
}

.hero-profile-font{
    font-family: 'Gatte-Regular';
}

.light-font{
    font-family: 'Gatte-Light';
}
